{% extends 'index.html' %}
{% block title %}Upload Data{% endblock title %}

{% block extracss %}
<style>

</style>
{% endblock extracss %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="bg-white shadow-lg p-5 rounded">
                <div class="text-center">
                    <h4 class="text-dark mb-4">Upload Data</h4>
                </div>
                <form method="POST" class="user">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label class="form-label">Name</label>
                            <input class="form-control form-control-user" type="text" name="name" placeholder="Enter name" required />
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Address</label>
                            <input class="form-control form-control-user" name="address" type="text" placeholder="Enter address" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label class="form-label">Gene</label>
                            <input class="form-control form-control-user" type="text" name="gene" placeholder="Enter gene ID" required />
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Drug</label>
                            <input class="form-control form-control-user" type="text" name="drug" placeholder="Enter drug ID" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label class="form-label">Interaction Score</label>
                            <input class="form-control form-control-user" type="text" name="iscore" placeholder="Enter interaction score" required />
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Annotation</label>
                            <input class="form-control form-control-user" name="annot" type="text" placeholder="Write annotation" required />
                        </div>
                    </div>
                    <button id="submitBtn" class="btn btn-primary d-block btn-user w-100" type="submit">Upload Data</button>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

