{% extends 'index.html' %}
{% block title %}Manage Access{% endblock title %}
{% block content %}
<div class = "container-xl px-1 pt-4">
    <h1 class="text-center pb-4">Manage Access</h1>
    <table id ='booking-table' class="table ">
        <thead>
        <tr>
            <th scope="col" class = "text-center">Name</th>
            <th scope="col" class = "text-center">Address</th>
            <th scope="col" class = "text-center">Organization</th>
            <th scope="col" class = "text-center">Data</th>
            <th scope="col" class = "text-center">Purpose</th>
            <th scope="col"></th>
            <th scope="col"></th>
            
        </tr>
        </thead>
        <tbody>
        {% for req in requesters%}
        <tr>
            <td class = "py-3 text-center">{{req.name}}</td>
            <td class = "py-3 text-center">{{req.address}}</td>
            <td class = "py-3 text-center">{{req.organization}}</td>
            <td class = "py-3 text-center">{{req.data}}</td>
            <td class = "py-3 text-center">{{req.purpose}}</td>
            <td class = "py-3 pl-5 text-center">
                <form method="post" action="{% url 'grant_access' req.address req.data req.purpose %}">
                    {% csrf_token %}
                    <input type="hidden" name="patient_address" value="{{ req.address }}">
                    <input type="hidden" name="patient_address" value="{{ req.data }}">
                    <input type="hidden" name="patient_address" value="{{ req.purpose }}">
                    {% if req.status == 'grant' %}
                        <button class="btn btn-success text-center disabled" type="submit">Grant</button>
                    {% else %}
                        <button class="btn btn-success text-center" type="submit">Grant</button>
                    {% endif %}
                </form>
            </td>
            <td class = "py-3 pl-5 text-center">
                <form method="post" action="{% url 'revoke_access' req.address req.data req.purpose %}">
                    {% csrf_token %}
                    <input type="hidden" name="patient_address" value="{{ req.address }}">
                    <input type="hidden" name="patient_address" value="{{ req.data }}">
                    {% if req.status == 'grant' %}
                        <button class="btn btn-danger text-center" type="submit">Revoke</button>
                    {% else %}
                        <button class="btn btn-danger text-center disabled" type="submit">Revoke</button>
                    {% endif %}
                </form>
            </td>
            
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

