{% extends 'index.html' %}
{% block title %}Transaction View{% endblock title %}
{% block content %}

<div class = "container-xl pt-5 mx-auto">
    <h1 class="text-center pb-4">Transaction View</h1>
    {% if transactions %}
    <form method="get" action="{% url 'org_trans_view' %}">
        <div class = "row mx-5 mx-5">
            <div class="col">
                <label for="patient_address">Patient:</label>
                <select class="form-select" name="patient_name" aria-label="Default select example">
                    <option value = "None" selected disabled hidden>-----------</option>
                    {%for patient in patients%}
                    <option value="{{patient}}">{{patient}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="col">
                <label for="access_level">Access Level:</label>
                <select class="form-select" name="access_level" aria-label="Default select example">
                    <option value = "None" selected disabled hidden>-----------</option>
                    {%for a in access %}
                    <option value="{{a}}">{{a}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class = "row-3 mx-3">
            <button class="btn btn-success text-center mx-5 my-2 px-2" type="submit">Filter</button>
        </div>
    </form>
    
    <div class = "table-responsive mb-4">
        <table id ='tx_table' class="table ">
            <thead>
            <tr>
                <th scope="col" class = "text-center">Txid</th>
                <th scope="col" class = "text-center">Patient</th>
                <th scope="col" class = "text-center">Data</th>
                <th scope="col" class = "text-center">Purpose</th>
                <th scope="col" class = "text-center">Access</th>
                <th scope="col" class = "text-center">Timestamp</th>
            </tr>
            </thead>
            <tbody>
            {% for tx in transactions%}
            <tr>
                <td class = "py-3 px-3 text-center">{{tx.txid}}</td>
                <td class = "py-3 px-3 text-center">{{tx.patient_name}}</td>
                <td class = "py-3 px-3 text-center">{{tx.dataid}}</td>
                <td class = "py-3 px-3 text-center">{{tx.purpose}}</td>
                <td class = "py-3 px-3 text-center">{{tx.access_level}}</td>
                <td class = "py-3 px-3 text-center">{{tx.timestamp}}</td>
            
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {%else%}
    <div class="row justify-content-end">
        <div class="col">
            <h3>No transactions</h3>
        </div>
    </div>  
    {%endif%}
</div>
{% endblock content %}